vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-B20P6A2\\Celina Sanchez
vti_modifiedby:SR|DESKTOP-B20P6A2\\Celina Sanchez
vti_timelastmodified:TR|14 Oct 2016 20:44:13 -0000
vti_timecreated:TR|14 Oct 2016 16:20:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_nexttolasttimemodified:TW|14 Oct 2016 19:00:24 -0000
vti_cacheddtm:TX|14 Oct 2016 20:44:13 -0000
vti_filesize:IR|4203
vti_cachedlinkinfo:VX|S|../images/logo.jpg S|../images/text-boxes.png
vti_cachedsvcrellinks:VX|FSUS|images/logo.jpg FSUS|images/text-boxes.png
